<section class="maintain_list">
	<h2>유지보수</h2>
	<ul>
		<% if(@maintains.length>0) %>
		<% @maintains.each do |maintain| %>
		<li><%=link_to maintain.title.truncate(10),maintain_path(maintain) %><span><%=getFormatDate(maintain.created_at.to_s) %></span><li>
		<% end %>
		<% else %>
			<li>견적문의가 없습니다.</li>
		<% end %>
	</ul>
	<%=link_to 'more',maintain_index_path,:class=>'more' %>
</section>