<section id="sl_template_show">
  
	<div id="sl_content_bottom_menu">	
	<% if user_signed_in? %>
	<% if current_user.admin? %>	
	<%= link_to t(:link_edit), edit_template_path(@template) %> |
	<% end %>
	<% end %>
	<%= link_to t(:link_list), templates_path %>
	</div>
</section>
