<section id="portfolios">
	<% @portfolios.each_with_index do |portfolio, index| %>
	<article class="media">
		<%=link_to portfolio.link,:target=>'_blank',:class=>"pull-left" do %>
    <%=image_tag portfolio.photo.medium_thumb %>
  		<% end %>
    <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
		</div>
	</article>
	<% end %>
	<div id="sl_bottom_menu">
		<% if user_signed_in? %>
		<% if current_user.admin? %>
		<%= link_to t(:link_new), new_portfolio_path %>	
		<% end %>
		<% end %>
		<%= paginate @portfolios %>
	</div>
</section>
