<section id="company">
  <div class="jumbotron hero-unit">
    <h1><%=raw t(:company_main_title) %></h1>
    <p class="lead"><%=raw t(:company_main_description) %></p>
    <%=link_to '깨끗한 웹을 꿈꾸고 있습니다','/home/popup',:class=>'modal_link btn btn-large btn-success',:'data-toggle'=>"modal",:'data-target'=>"#myModal" %>
  </div>
	<section>
		<article>
		
		</article>
		<article>
			
		</article>	
	</section>
	<section>
		<article>
						
		</article>
		<article>
			
		</article>
	</section>
</section>