//=require application
//=require products/tab_slider
//=require templates/slider
//=require templates/recommend_slider_by_products
//=require templates/recommend_slider_by_categories

#main_title {width:80px;background-position:-260px -435px}
.service_detail {display:none}
.tooltip {display:none;background:url(/images/tooltip/black_arrow_middle.png) no-repeat;height:135px;padding:30px 25px 10px 20px;width:250px;z-index:99999;color:#fff}
.tooltip ul{float:right;width:100%}
.tooltip li {float:right;width:45%}

#rite-contact-div{ width:215px; float:right; margin-top:23px;}
#rite-contact-div-top{float:right;width:100%; padding:0; height:208px; border-color: #575757 #A8A8A8 #A8A8A8; border-right: 1px solid #A8A8A8; border-style: solid; border-width: 2px 1px 1px} 
#rite-contact-div-top h5 { padding:0; color:#212121; font-size:16px; padding-top:3px; margin:10px 0; padding-bottom:5px}
#rite-contact-div-top h5 label{ display:block; margin:0 0 5px 55px;height:18px; width:110px; background:url(/assets/back.png) no-repeat -586px -300px}
#rite-contact-div-top h5 span.text2 { display:block; margin:0 0 0 55px;color:#aaaaaa; font-family:"Century Gothic"; font-size:12px; letter-spacing:0}
#rite-contact-div-top h5 span.image {float:left;margin-left:5px;display:block;width:40px;height:39px;background:url('/assets/back.png') no-repeat -212px -438px}
#rite-contact-div-top h5 span.text {display:none}
#othr-contct-info2 { float:left;width:192px;color: #3399ff; font-size: 12px; padding:0; margin:20px 0 0 10px;letter-spacing:0}
#othr-contct-info2 span.mail-info {float:left;width:100%;font-family:Arial;letter-spacing:0;display:block;padding:3px 0}
#othr-contct-info2 span.fax-info {float:left;width:100%;font-family:Arial;letter-spacing:0;display:block;padding:3px 0}
#othr-contct-info2 span.mail-info span.image { display:inline-block;margin-right:7px;width:38px;height:11px;background:url(/assets/back.png) no-repeat -698px -308px} 
#othr-contct-info2 span.fax-info  span.image { display:inline-block;margin-right:7px;width:38px;height:11px;background:url(/assets/back.png) no-repeat -698px -295px}
#top-blue-img,#top-orange-img{float:right; margin-top:9px; display:block; width:215px; height:39px}
#top-blue-img span,#top-orange-img span {display:none}
#top-blue-img {background:url(/assets/back.png) no-repeat -551px -352px}
#top-orange-img{background:url(/assets/back.png) no-repeat -551px -391px}
#slider-div{float:left;width:100%;margin:20px 0;padding:0}
#slider-div .scrollable {float:left;margin:0;padding:0;position:relative;overflow:hidden;width:100%; height:230px!important}
#slider-div .scrollable .items {width:20000em;position:absolute;z-index:8;top:0;left:0}
#slider-div .scrollable .items  li {	float:left;width:930px}


.shit_plus,.shit_minus {display:block;position:absolute;top:8px;right:12px;width:12px;height:12px;background:#333}
.shit_plus {background-position:-505px -149px}
.shit_minus {background-position:-505px -159px}

#product_list {background:#333;width:817px; float:left;height:27px;border-top-left-radius:5px;border-bottom-left-radius:5px}
#product_list ul {float:left;width:100%;margin:0;padding:0; list-style:none; background:url(/assets/menu-li-bg.png) no-repeat right top}
#product_list li { float:left;margin:0;padding:0}
#product_list li a{float:left; color:#e5e5e5;margin:0;padding:7px 10px;display:block; line-height:12px}
#product_list li a span {float:left;line-height:12px}
#product_list li a.selected{ color:#fffc00;padding-bottom:12px; background:url(/asssets/menu-bg-down-arrow.png) no-repeat bottom center}
#product_list li a:hover { color:#fffc00}

#c3-slider {list-style:none;margin:0;padding:0}
#c3-slider .sliding-image,#c3-slider .sliding-image2 {margin: 0;overflow: hidden;padding: 0;position: absolute;top: 40px;opacity:0;}
#c3-slider .sliding-text, #c3-slider .sliding-text2 {height: 430px;margin: 0;overflow: hidden;padding: 0;position: absolute;top: 40px;opacity:0;}
#c3-slider .sliding-text {right: -900px;}
#c3-slider .sliding-image2, #c3-slider .sliding-text2 {right:-900px;}
#c3-slider .sliding-text, #c3-slider .sliding-text2 {top: 190px; color: #575757;line-height: 1.7em;}
#c3-slider .arial {letter-spacing:0}
#c3-resumeButton {float: right;height: 14px;margin: 0 auto;position: relative;z-index: 999;}
#c3-pauseButton {float: right;height: 14px;margin: 0 auto;position: relative;z-index: 999;}
#c3-pauseButton a {background: url("/assets/slider-controls.png") no-repeat scroll 0 0 transparent;border: 0 none;display: block;float: left;height: 14px;margin: 5px 5px 0 0;outline: 0 none;text-indent: -9999px;width: 14px;}
#c3-resumeButton a {background: url("/assets/slider-controls.png") no-repeat scroll 100% 0 transparent;border: 0 none;display: block;float: left;height: 14px;margin: 5px 30px 0 0;outline: 0 none;text-indent: -9999px;width: 14px;}
#c3-nav {float: right;height: 14px;margin: 0 auto;padding: 5px 5px 0 0;position: relative;z-index: 999;}
#c3-nav a {background: url("/assets/slider-bullet.png") no-repeat scroll 0 0 transparent;border: 0 none;display: block;float: left;height: 14px;margin-right: 5px;outline: 0 none;text-indent: -9999px;width: 14px;}
#c3-nav a.activeSlide {background-position: -15px 0;}
#c3-slider .sliding-text  h4,#c3-slider .sliding-text2  h4 {float:left;font-weight:normal;font-size:12px;margin:0 0 7px;padding:2px 5px;color:#fff;background:#22c5e0}
#c3-slider .sliding-text  h4 span,#c3-slider .sliding-text2  h4 span{font-weight:bold;}
#c3-slider .sliding-text p,#c3-slider .sliding-text2 p {clear:left;float:left;font-size:12px;	}
.c3-controls {display: block;float:right;margin-top:-35px}




#main_question_list,#main_project_list {float:left; width:322px;  margin-bottom:20px}
#main_project_list{ float:right!important}
#main_question_list .top,#main_project_list .top{float:left;width:100%;border-bottom:1px solid #8c8c8c; padding-bottom:3px; margin-bottom:15px}
#main_question_list h3,#main_project_list h3{ float:left; padding-left:12px;padding:0}
#main_question_list h3 {width:90px;background-position:-578px -187px}
#main_project_list h3 {width:105px;background-position:-578px -203px}
#main_question_list .top a,#main_project_list .top a {  float:right; color:#999; font-size:11px; margin-top:3px; width:114px; margin-right:2px; text-align:right; font-weight:normal; letter-spacing:0}
#main_question_list .top a:hover,#main_project_list .top a:hover {color:#666;} 
#main_question_list ul,#main_project_list ul{float:left;width:100%;margin:0;padding:0;}
#main_question_list li,#main_project_list li{float:left;width:322px;margin:0;padding:5px 0;}
#main_question_list li span.date,#main_project_list li span.date{ float:right;font-family:Arial;color:#33b9ff;margin-right:2px;text-align:right}
#main_project_list li span.name {float:left;width:120px;}
#main_question_list li span img,#main_project_list  li span img{ float:left}
#main_question_list li a,#main_project_list  li a{float:left;padding-left:15px;margin-right:5px;color:#666;background:url("/images/left-div-li-bg.png") no-repeat scroll 2px 6px transparent}
#main_question_list li a:hover,#main_project_list  li  a:hover{color:#333;text-decoration:underline}
.graph {background: none repeat scroll 0 0 #F8F8F8;border: 1px solid #DDDDDD;border-radius: 0.25em;float: left;height: 13px;margin-right:5px;line-height: 20px;vertical-align: top;width: 141px;}
.graph img {border-bottom: 1px solid #FF9900;border-top: 1px solid #FF9900;float: left;height: 13px;margin-top: -1px;}
.graph img.first {border-left:1px solid #ff9900;margin-left:-1px;border-top-left-radius:0.25em ;-moz-border-radius-topleft :0.25em;	-webkit-border-top-left-radius:0.25em; border-bottom-left-radius:0.25em; 	-moz-border-radius-bottomleft:0.25em; 	-webkit-border-bottom-left-radius:0.25em;}  
.graph img.last {border-right:1px solid #ff9900;border-top-right-radius:0.25em ;-moz-border-radius-topright :0.25em;	-webkit-border-top-right-radius:0.25em; border-bottom-right-radius:0.25em; 	-moz-border-radius-bottomright:0.25em; 	-webkit-border-bottom-right-radius:0.25em;}  


.new_icon,.lock_icon {display:inline-block;background-image:url('/images/customer_center/back.png');background-repeat:no-repeat}
.new_icon span,.lock_icon span {display:none}
.new_icon {margin:2px 5px 0 0;width:21px;height:11px;background-position:-11px -100px}
.lock_icon {width:10px;height:13px;background-position:0px -99px}
.show_link {float:left;margin-right:5px;}
.check_password_form {float:left;width:100%;background:#fff;width:280px;margin:0;padding:0px}
.check_password_form .top {float:left;width:100%;margin:0;padding:0;height:27px;background:url('/images/homepage/template/design_select_confirm_top.png') repeat-x;}
.check_password_form .top h3 {float:left;display:inline;line-height:15px;margin:7px 0 0 20px;padding:0;font-size:12px;color:#fff;}
.check_password_form .top .close_popup {float:right;margin:5px 0 0;background: url("/images/close_popup.png") no-repeat scroll 0 0 transparent;display: block;width:20px;height:20px;text-decoration: none;}
.check_password_form .top .close_popup span {display:none;}
#popup_main {float:left;width:100%;padding:10px 0;text-align:center}
#popup_main h4 {float:left;display:inline;width:217px;height:41px;margin:10px 0 20px 30px;padding:0;background:url('/images/customer_center/password_title.png') no-repeat;}
#popup_main h4 span {display:none;}
#popup_bottom_button {margin:10px 0 0;padding:15px 5px 10px;text-align:center;}


#no_more_please {float:left;width:100%;margin:20px 0;background:url('/images/homepage/background.jpg') no-repeat}
#no_more_please .scrollable { float:left;width:677px; margin:0;height:90px; overflow: hidden; position: relative;}
#no_more_please .scrollable .items { position: absolute; width: 2000em;height: 90px; left: 0; top: 0; list-style: none;margin:0;padding:0;}
#no_more_please .scrollable .items li {float:left;margin-right:100px;}


#design_slider {position: relative;float:left;width:100%;margin:20px 0; }
#design_slider .top {float:left;width:100%;padding:3px 0;border-bottom:1px solid #ccc}
#design_slider h3 {float:left;display:block;margin:0 5px 0 0;no-repeat}
#design_slider .top a.prev,#design_slider .top a.next,#design_slider .top a.more {float:right;color:#999;margin-left:10px;font-size:11px;letter-spacing:0;font-family:Arial;cursor:pointer;}
#design_slider .top a:hover {color:#666}
#design_slider .top a.prev,#design_slider .top a.next {margin-top:3px}
#design_slider .top a.prev span,#design_slider .top a.next span {display:none}
#design_slider .top a.prev {width:5px;height:7px;background:url('/assets/back.png') -520px -159px no-repeat;}
#design_slider .top a.prev:hover {background-position:-520px -148px}
#design_slider .top a.next {width:5px;height:7px;background:url('/assets/back.png') -530px -159px no-repeat;}
#design_slider .top a.next:hover {background-position:-530px -148px}
#design_slider .scrollable {position:relative;float:left;overflow:hidden;margin:30px 0 0;width: 900px;height:730px}
#design_slider .scrollable .items {width:20000em;position:absolute;list-style:none}
#design_slider .items li {	float:left;width:900px}
#design_slider .items li .template {margin:0 40px 0 0}
#design_slider .items li .template.nm {margin:0}
#design_slider .scrollable .prev,#design_slider .scrollable .next {display:none}
#design_list_main {float:left;width:100%;margin-top:20px;}
#design_top{ float:left;width:100%;padding-bottom:4px; border:1px solid #fff; border-bottom-color: #c7c7c7}
#design_top_left {float:left;}
#design_top_left h3 { display:none}
#design_top_right{float:right;}
#design_top_right select{ color:#535353; width:88px;float:left; margin-right:3px;}
.product_category_serach_link {float:left;margin:20px 0 0;padding:5px 0;display:inline;}
.product_category_serach_link a {color:#999}
.product_category_serach_link a:hover {color:#666}
.product_category_serach_link a.active {color:#0099ff}
.product_category_serach_link span.devide_word {margin:0 3px;color:#999}
#design_slider .template{  float: left; width:145px;height:210px; margin-right:23px; margin-bottom:25px;}
#slider ul {margin:0;padding:0;list-style:none}
#slider .template { float: left; width:145px;height:210px; margin-right:50px; margin-bottom:25px;}
#slider .template.nm,#design_slider .template.nm { margin-right:0}
.nonData {float:left;width:100%;text-align:center;padding:15px 0;}

#shit_menu {position:relative;float:left;width:690px;margin:0;padding:0}
#shit_left {float:left;display:block;width:15px;height:37px;background:url('/images/homepage/sub_back.png') -184px -163px no-repeat}
#shit_right {float:left;display:block;width:15px;height:37px;background:url('/images/homepage/sub_back.png') -209px -163px no-repeat}
#shit_move {position:absolute;top:3px;left:15px;width:141px;height:31px;z-index:9}
#shit_move_left {float:left;width:15px;height:100%;display:block;background:url('/images/homepage/sub_back.png') -223px -163px no-repeat}
#shit_move_center {float:left;display:block;width:22px;height:100%;background:url('/images/homepage/template/menu_select_back.png') repeat-x}
#shit_move_right {float:left;width:15px;height:100%;display:block;background:url('/images/homepage/sub_back.png') -239px -163px no-repeat}
#product_category_tabmenu {float:left;margin:0;padding:0;height:37px;background:url('/images/homepage/template/menu_back.png') repeat-x}
#product_category_tabmenu li {float:left;display:inline;margin:11px 14px 0;padding:0px}
#product_category_tabmenu li a {float:left;position:relative;z-index:11;display:block;color:#333;height:15px;padding:0;line-height:15px}
#product_category_tabmenu li a:hover {color:#3399ff;}

/* side */
#inquiry {margin:0 0 20px}
#notice h3{ float:left}
#notice_content {float:left;width:100%;margin:10px 0 0px;}
#notice_content p {margin:3px 0 0}
#notice_content h5 a {font-size:12px;color:#666;}
#notice_content h5 a:hover {color:#33ccff}
#notice_content p a {font-size:12px;color:#999}
#notice li {padding-left:12px;width:180px;background: url("/images/left-div-li-bg.png") no-repeat scroll 2px 8px transparent;}
#inquiry h3 {float:left}
#inquiry li {padding-left:12px;width:180px;background: url("/images/left-div-li-bg.png") no-repeat scroll 2px 8px transparent;}

#make_process .top { margin-bottom:18px;}
#make_process .top h3{ width:85px; height:16px; background:url('/assets/back.png') no-repeat -578px -250px;}
#make_process li { float:left;width:100%;margin-bottom:6px;}
#make_process strong {float:left;display:block;margin-right:6px;background-image:url('/images/homepage/back.png');background-repeat:no-repeat; height:17px; display:block; margin-bottom:7px;}
#make_process strong span {display:none}
#make_process p {float:left;width:140px;}
#make_process span.image {float:left;display:block; margin-right:6px; background-image:url('/assets/back.png');background-repeat:no-repeat; width:43px; height:42px; display:block; margin-bottom:7px;}
#make_process span.shit_cursor{clear:both;display:block; margin:0 0 0 70px;background:url(/assets/back.png) -407px -41px no-repeat; height:5px; width:9px;}
#make_process .step1 span.image {background-position: 0px -438px}
#make_process .step2 span.image {background-position:-42px -438px}
#make_process .step3 span.image {background-position:-84px -438px}
#make_process .step4 span.image {background-position:-126px -438px}
#make_process .step5 span.image {background-position:-168px -438px}
#make_process .step1 strong { width:83px;background-position: 0px -118px}
#make_process .step2 strong { width:93px;background-position:-85px -118px}
#make_process .step3 strong { width:47px;background-position:-181px -118px}
#make_process .step4 strong { width:68px;background-position:-228px -118px}
#make_process .step5 strong { width:45px;background-position:-296px -118px}

#current_project {position:relative;margin:20px 0 56px}
#current_project h3 {float:left;width:100%;width:100px;height:20px;background: url('/assets/back.png') -577px -42px no-repeat}
#current_project h3 span {display:none}
#slide_gallery .scrollable { float:left;width:100%; margin:10px 0 0;height:760px; overflow: hidden; position: relative; padding-left:9px}
#slide_gallery .items {position: absolute; width: 210px;height: 760px; left: 0; top: 0; list-style: none;}
#slide_gallery .buttons {cursor:pointer;background: url("/images/top-down-arrows-spirtes.png") no-repeat scroll -15px 0 transparent;    display: block; position:absolute;  height: 14px; overflow: hidden; width: 17px;z-index: 500;}
#slide_gallery .buttons span {display:none}
#slide_gallery .next {top:5px;right:65px;background-position:0 0}
#slide_gallery .prev{top:5px;right:50px;background-position: -15px 0}
ul.gallery {padding:5px 0;}
ul.gallery li {list-style: none;display: block;position: relative;margin-bottom: 10px;}
ul.gallery li img {border: 1px solid #e8e4e1;background: #f7f5f3;padding: 5px;}
ul.gallery li a span {width: 180px;height: 70px;background-color: rgba(225, 220, 214, 0.8);position: absolute;top: 10px;left: 10px;z-index: 10;display: none;}
ul.gallery li a span img {width: 16px;height: 16px;border:none;background: none !important;margin-top: 20px;margin-left: 85px;}


.main_customer_center {float:left;width:100%;margin:0 0 3em;padding:0}
.main_customer_center article {float:left;position:relative;width:200px;margin:0 3em 0 0}
.main_customer_center article h3 {border-bottom:1px solid #ccc;margin:0 0 0.5em;padding:0 0 0.3em;}
.main_customer_center article ul {margin:0;padding:0;list-style:none}
.main_customer_center article .more {position: absolute;top:0;right:0}
