<footer>
	<p><%=@company %> &nbsp;&nbsp;|&nbsp;&nbsp; 전화번호 : 010-4141-3726 &nbsp;&nbsp;|&nbsp;&nbsp; 사업자등록번호 <span class="arial">111-222-3555</span> &nbsp;&nbsp;|&nbsp;&nbsp; 통신판매등록번호 <span class="arial">2013</span>-경기수원-<span class="arial">1087-7</span></p>
	<address><%=@address %></address>
	<span class="arial">Copyright &copy; 2012, <%=@company_name %> All Rights Reserved</span>	
</footer>